.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  color: #777;
}

.filters {
  display: flex;
  justify-content: center;
}

.filter-btn {
  margin: 0 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    border-color: #af2f2f1a;
  }

  &.selected {
    border-color: #af2f2f33;
  }
}

.clear-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
